.category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category h3 {
  padding: 0 48px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
