.container {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 1080px;
	background-color: #e7f4e4;
	color: #112e51;
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category {
	width: 100%;
}
.category h2 {
	margin-left: 20px;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
