.container {
    margin: 0 auto;
    width: 1080px;
    min-height: 100vh;
    background-color: #e7f4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #112e51;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
    width: 48px;
    height: 48px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    transition: all .3s;
}
.item:hover {
    width: 56px;
    height: 56px;
    border: 2px solid #112e51;
}